.el {
    background: ...;
    border-radius: 70px;
}

@supports (mask-image: paint(smooth-corners)) {
    .el.is-loaded {
        border-radius: 0;
        mask-image: paint(smooth-corners);
        --smooth-corners: 4;
    }
}

body {
    background: #0C183C;
}

@media (min-width: 640px) {
    ::-webkit-scrollbar {
        width: 1em;
    }
    
    ::-webkit-scrollbar-track {
        background: #0C183C;
        border-radius: 100vw;
        margin-block: .5em;
    }
    
    ::-webkit-scrollbar-thumb {
        background: #E971AC;
        border-radius: 100vw;
    }
}

/* 
'sm': '640px',
// => @media (min-width: 640px) { ... } 

'md': '768px',
// => @media (min-width: 768px) { ... }

'lg': '1024px',
// => @media (min-width: 1024px) { ... }

'xl': '1280px',
// => @media (min-width: 1280px) { ... }
*/